* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;

	
}


h1, h2 {
	font-family: 'Open Sans Normal', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
	text-shadow: 1px 1px #525252;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 700px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}

.subMenu .active {
	background: #25aae1;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 130px;
	background: url(https://farm9.staticflickr.com/8722/17156823842_d556d00db7_o.jpg);
	color:#3d3d3d;
	padding: 50px 0;
	height: 500px;
  	background-position: center top;
  	-webkit-background-origin: padding-box;
  	background-origin: padding-box;
  	-webkit-background-clip: border-box;
  	background-clip: border-box;
  	-webkit-background-size: auto auto;
  	background-size: 120%;
  	background-repeat: no-repeat;
  	background-color: #fff;
  	filter: grayscale(60%);
}

.sTop .inner {
	position: relative;
	top: 350px;
	color: #FFF;
}

.s1 {
	background:#184764;
	color:#fff;
	height:150px;	
}


.s2 {
	-webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232525;
    padding-top:0px;
	background: #525252;
	height: 800px;
}

.s2 a:link, .s2 a:visited {
    color: #333
}

.s2 a:hover, .s2 a:active {
    color: #9e2020
}

.s2 a {
	color: #fff;
}

.s3 {
	background: #1b83b3;
	height: 575px;
}


.s4 {
	background: #5aa3c4;
	height: 580px;
}



.s5 {
	background: #bce1f1;
	color: #3d3d3d;
	height: 575px;
}

.s6 {
	background: #161616;
}

.s3 p {
	color: #E0E0E0;
	font-weight: 400;
	font-size: 28px;
	padding: 40px 0px 0px 20px;
}
.s4 p {
	font-weight: 400;
	font-size: 28px;
	padding: 40px 0px 0px 20px;
}
.s3 p:hover, .s4 p:hover {
	margin-left: -50px;
	margin-right: -50px;
}

.s5 p {
	font-weight: 250;
	font-size:28px;
}

.btn-large [class^="fa-quote-"],
.btn-large [class*="fa-quote-"] {
  margin-top: 4px;
}
.btn-small [class^="fa-quote-"],
.btn-small [class*="fa-quote-"] {
  margin-top: 0;
}
.btn-mini [class^="fa-quote-"],
.btn-mini [class*="fa-quote-"] {
  margin-top: -1px;
}

.btn-large [class^="fa"],
.btn-large [class*="fa"] {
  margin-top: 4px;
}
.btn-small [class^="fa"],
.btn-small [class*="fa"] {
  margin-top: 0;
}
.btn-mini [class^="fa"],
.btn-mini [class*="fa"] {
  margin-top: -1px;
}
